<div class="home" id="home">
  <h1 class="home__title">Amplify. Donate. Protest.</h1>
</div>
<div id="petition">
  <Petition  @petitions={{@model.petitions}}/>
</div>
<div id="donation">
  <Donation @donations={{@model.donations}}/>
</div>
<div id="films">
  <Flim @films={{@model.films}} />
</div>
